/*----- Buttons -----*/
[el ~='btn'],
[el|='btn'] {
    --height: 48px;
    --width: max-content;
    --display: inline-grid;
    --padding: 0 27px;
    --border-radius: 4px;

    --bg-color: var(--control-color, var(--color-secondary));
    --hover-bg-color: var(--control-hover-color, var(--color-secondary));
    --pressed-bg-color: var(--control-pressed-color, var(--color-secondary));
    --disabled-bg-color: var(--color-13);

    --color: #fff;
    --disabled-color: var(--color-65);

    --text-transform: Capitalize;
    --transition: 0.2s;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

[el|='btn'][el*='2ry'] {
    --color: var(--control-color, var(--color-secondary));
    --hover-color: var(--control-hover-color, var(--color-secondary));
    --pressed-color: var(--control-pressed-color, var(--color-secondary));
    --disabled-color: var(--color-25);

    --bg-color: #fff;
    --hover-bg-color: var(--color-light);
    --pressed-bg-color: var(--color-light);
    --disabled-bg-color: var(--color-light);

    --border: 1px solid var(--control-color, var(--color-secondary));
    --hover-border: 1px solid var(--control-hover-color, var(--color-secondary));
    --pressed-border: 1px solid var(--control-pressed-color, var(--color-secondary));
    --disabled-border: 1px solid var(--color-13);
}

[el|='btn'][el*='p1'] {
    --control-color: var(--color-sea);
    --control-hover-color: var(--color-mist);
    --control-pressed-color: var(--color-ocean);
}

[el|='btn'][el*='p2'] {
    --control-color: white;
    --control-hover-color: #2864A2;
    --control-pressed-color: var(--color-sea);
}

/*--- Float Buttons ---*/
[el ~='flat-btn'],
[el|='flat-btn'] {
    --height: 35px;
    --width: inherit;
    --display: inline-flex;
    --padding: 0 10px;
    --color: var(--control-color, var(--color-secondary));
    --hover-color: var(--control-hover-color, var(--color-rain));
    --pressed-color: var(--control-pressed-color, var(--color-sea));
    --disabled-color: var(--color-25);

    --bg-color: transparent;
    --hover-bg-color: transparent;
    --pressed-bg-color: transparent;
    --disabled-bg-color: transparent;

    --border: unset;
    --hover-border: unset;
    --pressed-border: unset;
    --disabled-border: unset;

    --transition: 0.2s;

    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

[el*='flat-btn'] > *:not(:last-child) {
    margin-right: 5px;
}

[el*='flat-btn'][el*='2ry'] {
    --control-color: var(--color-65);
    --control-hover-color: var(--color-secondary);
    --control-pressed-color: var(--color-rain);
}

@media (max-width:800px){
    [el ~='btn'],
    [el|='btn'] {
        --width:100%;
    }
}