/*--- Forms Elements: inputs, dropdowns, checkbox, radio, etc... ---*/
/*[el~='input'][type='text'],*/
[el|=input],
[el~=input] {
  --display: grid;
  grid-auto-flow: row;
  grid-gap: 0
}
[el|=input]:not([el*=error]) > [el~=error],
[el|=input]:not([el*=label]) > [el~=label],
[el|=input]:not([el*=required]) > [el~=required] {
  --display: none
}
[el*=input-list] input[type=text],
[el*=input-list] input[type=password] {
  --width: 100%;
  --height: 35px;
  --padding: 0px;
  --border-radius: 0px;
  --display: flex;
  --transition: 0.2s;
  --color: var(--color-black);
  --hover-color: black;
  --border-bottom: 1px solid var(--color-25);
  --hover-border-bottom: 1px solid var(--color-sky);
  --pressed-border-bottom: 1px solid var(--color-sky);
  align-items: center;
  min-width: 100px
}
[el*=input-list] textarea {
  --width: 100%;
  --height: 250px;
  --padding: 10px;
  --border-radius: 0px;
  --display: flex;
  --transition: 0.2s;
  --color: var(--color-black);
  --hover-color: black;
  --border: 1px solid var(--color-25);
  --hover-border: 1px solid var(--color-sky);
  --pressed-border: 1px solid var(--color-sky);
  min-width: 150px
}
[el*=input-error] textarea {
  --border: 1px solid var(--color-dusk);
  --hover-border: 1px solid var(--color-dusk);
  --pressed-border: 1px solid var(--color-dusk)
}
[el*=input-error] input[type=text],
[el*=input-error] input[type=password] {
  --border-bottom: 1px solid var(--color-dusk);
  --hover-border-bottom: 1px solid var(--color-dusk);
  --pressed-border-bottom: 1px solid var(--color-dusk)
}
[el*=input-list] {
  --display: grid;
  --flow: row;
  grid-gap: 15px;
  grid-auto-flow: var(--flow)
}
[el*=input-list] label:not([el~=select]):not([el|=input]) {
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  grid-gap: var(--space-xxxsm);
  user-select: none
}
[el~=select] {
  --height: 35px;
  --border-bottom: 1px solid var(--color-25);
  --hover-border-bottom: 1px solid var(--color-sky);
  --color: var(--color-black);
  --hover-color: black;
  --pressed-color: var(--color-black);
  overflow: hidden;
  min-width: 150px
}
[el~=select] > select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  padding-right: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: transparent;
  font-size: 16px
}
[el*=input-list] select + i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  -webkit-text-fill-color: currentColor
}
[el*=input-list] select + i::after {
  content: 'keyboard_arrow_down';
  color: var(--color-40);
  --color: var(--color-40)
}
[el*=input-list] input[type=checkbox],
[el*=input-list] input[type=radio] {
  display: none
}
[el*=input-list] input[type=radio] + i::after {
  content: 'radio_button_unchecked'
}
[el*=input-list] input[type=radio]:checked + i::after {
  content: 'radio_button_checked'
}
[el*=input-list] input[type=checkbox] + i::after {
  content: var(--control-content, 'check_box_outline_blank')
}
[el*=input-list] input[type=checkbox]:checked + i::after {
  content: var(--control-content, 'check_box')
}
[el*=input-list-circle] input[type=checkbox] + i::after {
  --control-content: 'radio_button_unchecked'
}
[el*=input-list-circle] input[type=checkbox]:checked + i::after {
  --control-content: 'check_circle'
}
[el*=input-list-circle] input[type=checkbox]:hover + i::after {
  --control-content: 'check_circle_outline'
}
[el*=input-list] input[type=checkbox] + i,
[el*=input-list] input[type=radio] + i {
  --color: var(--color-25);
  -webkit-text-fill-color: var(--color);
  font-size: 20px
}
[el*=input-list] input[type=checkbox]:checked + i,
[el*=input-list] input[type=radio]:checked + i {
  --color: var(--color-sky);
  -webkit-text-fill-color: var(--color)
}
[el*=input-list] input[type=checkbox]:hover + i,
[el*=input-list] input[type=radio]:hover + i {
  --color: var(--color-sky);
  -webkit-text-fill-color: var(--color)
}
[el*=input-list] [el~=label] {
  --color: var(--color-65)
}
[el~=row] {
  --flow: row
}
[el~=column] {
  --flow: column;
  justify-content: flex-start
}
