/*--- Forms Elements: inputs, dropdowns, checkbox, radio, toggle, etc... ---*/
/*[el~='input'][type='text'],*/
[el~='input'],
[el|='input']{
    --display:inline-grid;
    grid-auto-flow:row;
    grid-gap:0px;
}


[el|='input']:not([el*='label']) > *[el~='label'],
[el|='input']:not([el*='error']) > *[el~='error'],
[el|='input']:not([el*='required']) > *[el~='required'] {
    --display:none;
}

[el*='input-list'] input[type='text'],
[el*='input-list'] input[type='password']{
    --width:100%;
    --height: 35px;
    --padding: 0px;
    --border-radius: 0px;
    --display: flex;
    --transition: 0.2s;
    --color:black;
    /* --hover-color:black; */

    --border-bottom: 1px solid hsla(0,0%,0%,0.5);
    --hover-border-bottom: 1px solid hsla(0,0%,0%,1);
    --pressed-border-bottom: 1px solid hsla(0,0%,0%,1);
    align-items: center;
    min-width:100px;
}
[el*='input-list'] textarea{
    /* --width:100%; */
    --height: 250px;
    --padding: 10px;
    --border-radius: 0px;
    --display: block;
    --transition: 0.2s;
    --color:#fff;
    /* --hover-color:black; */

    --border: 1px solid hsla(0,0%,0%,0.5);
    --hover-border: 1px solid hsla(0,0%,0%,1);
    --pressed-border: 1px solid hsla(0,0%,0%,1);
    min-width:50px;
}
[el*='input-error'] textarea{
    --border: 1px solid var(--color-dusk);
    --hover-border: 1px solid var(--color-dusk);
    --pressed-border: 1px solid var(--color-dusk);
}
[el*='input-error'] input[type='text']{
    --border-bottom: 1px solid var(--color-dusk);
    --hover-border-bottom: 1px solid var(--color-dusk);
    --pressed-border-bottom: 1px solid var(--color-dusk);
}

[el*='input-list']{
    --display:grid;
    --flow:row;
    grid-gap: var(--gap, 15px);
    grid-auto-flow: var(--flow);
}
[el*='input-list'] label:not([el~='select']):not([el|='input']){
    cursor: pointer;
    display:grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    grid-gap:var(--space-xxxsm);
    user-select: none;
}
[el~='select']{
    --height:35px;
    --border-bottom: 1px solid var(--color-25);
    --hover-border-bottom: 1px solid var(--color-sky);
    --color: var(--color-black);
    --hover-color: black;
    --pressed-color: var(--color-black);
    overflow: hidden;
    min-width:150px;
}
[el~='select'] > select{
    border:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position:absolute;
    padding-right: 30px;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    z-index:2;
    background-color:transparent;
    font-size:16px;
}
[el*='input-list'] select + i{
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    z-index:1;
    -webkit-text-fill-color: currentColor;
}
[el*='input-list'] select + i::after{
    content: 'keyboard_arrow_down';
    color:var(--color-40);
    --color:var(--color-40);
}
[el*='input-list'] input[type='radio'],
[el*='input-list'] input[type='checkbox']{
    display: none;
}
[el*='input-list'] input[type='radio'] + i::after{
    content:'radio_button_unchecked';
}
[el*='input-list'] input[type='radio']:checked + i::after{
    content:'radio_button_checked';
}
[el*='input-list'] input[type='checkbox'] + i::after{
    content:var(--control-content, 'check_box_outline_blank');
}
[el*='input-list'] input[type='checkbox']:checked + i::after{
    content:var(--control-content, 'check_box');
}

[el*='input-list-circle'] input[type='checkbox'] + i::after{
    --control-content: 'radio_button_unchecked';
}
[el*='input-list-circle'] input[type='checkbox']:checked + i::after{
    --control-content: 'check_circle';
}
[el*='input-list-circle'] input[type='checkbox']:hover + i::after{
    --control-content:  'check_circle_outline';
}

[el*='input-list'] input[type='checkbox'] + i,
[el*='input-list'] input[type='radio'] + i{
    --color:var(--color-25);
    /* color:var(--color-sky); */
   -webkit-text-fill-color: var(--color);
   font-size: 18px;
}
[el*='input-list-circle'] input[type='checkbox'] + i{
   font-size: 30px;
}

[el*='input-list'] input[type='checkbox']:checked + i,
[el*='input-list'] input[type='radio']:checked + i{
    --color:var(--color-sky);
    /* color:var(--color-sky); */
   -webkit-text-fill-color: var(--color);
}
[el*='input-list'] input[type='checkbox']:hover + i,
[el*='input-list'] input[type='radio']:hover + i{
    --color:var(--color-sky);
    /* color:var(--color-sky); */
   -webkit-text-fill-color: var(--color);
}

[el*='input-list'] [el~='label']{
    --color:var(--color-65);
}

[el~='row']{
    --flow: row;
}
[el~='column']{
    --flow: column;
    justify-content: flex-start;
}


/* Toggle */
[el~='toggle'],
[el|='toggle']{
    --height: 30px;
    --gap:5px;
    --circle-size: calc(var(--height) - (var(--gap) * 2));
    --padding: 0 var(--height);
    border-radius:100px;
    --color:white;
    --bg-color:rgba(0,0,0,0.35);
    --display:inline-flex;
    align-items:center;
    justify-content:center;
    position:relative;
    text-transform:uppercase;
    font-size:12px;
    cursor:pointer;
    transition:0.3s ease;
    user-select:none;
  }
  [el~='toggle']:after,
  [el|='toggle']:after{
    content:'';
    width:var(--circle-size);
    height:var(--circle-size);
    margin:var(--gap);
    background-color:#fff;
    border-radius:100%;
    transition:0.3s ease;
    left:0;
    top:0;
    position:absolute;
    /* filter:drop-shadow(0 3px 6px rgba(0,0,0,0.2)); */
  }
  [el|='toggle'][el*='active']{
    background-color:#0068ff;
  }
  [el|='toggle'][el*='active']:after{
    left:calc(100% - (var(--height))) !important;
  }